<div class="main-page">
  <div class="main-page-items">
    <div class="main-page-widget" id="widget-import">

    </div>

    <div class="chat-content" id="chat-content">
      <p class="chat-content__placeholder">
        Выберите чат
      </p>
    </div>
    <div id="chat-info-container" class="chat-info-container">

    </div>
  </div>
</div>