/* Profile */

.avatar-container {
    position: relative;
    background-color: var(--black);
}

.avatar-container__user-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.user-info__full-name {
    font: bold;
    font-size: 50px;
    color: var(--main);
}

.user-info__online-status {
    color: var(--online);
}

.avatar-container__square-image {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
}

.avatar-container__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Details */

.profile__details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.detail-item {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px;
    width: 90%;

    border-style: solid;
    border-width: 1px;
    border-color: var(--black);
    border-radius: 10px;
}

.detail-item__label {
    color: var(--gray);
}

.detail-item:hover {
    cursor: pointer;
    background-color: var(--bg);
}

#logout-label {
    color: var(--red);
    font-size: 20px;
}