<div class="sidebar">
    {{!-- Заголовок --}}
    <header class="sidebar-header">
        <div id="close-chat-info" class="button">
            <img src="icons/close.svg" alt="Back" class="icon"></img>
        </div>
        
        <div class="sidebar-header__title">Информация</div>

        {{#if isOwner}}
            <button id="edit-group-button" class="button">
                <img src="icons/Edit.svg" alt="Edit" class="icon">
            </button>
        {{/if}}

    </header>

    <div class="horizontal-divider"></div>

    <!-- Просмотр группы -->
    <main class="group-info scrollable">
        {{!-- Аватар --}}
        <section class="avatar-container">
            <div class="avatar-container__user-info">
                <div class="user-info__full-name">{{title}}</div>
                <div class="user-info__online-status">
                    <span id="group-info__members-count">{{membersCount}}</span> участников
                </div>
            </div>

            <div class="avatar-container__square-image">
                <img class="avatar-container__image" src="{{avatarSrc}}" alt="Avatar">
            </div>
        </section>

        {{!-- Детали группы --}}
        <section class="sidebar-list">
            {{!-- Ссылка --}}
            {{!-- <div class="detail-item">
                <img src="icons/PaperClip.svg" alt="Link" class="icon"></img>
                <div class="sidebar-list__item-info">
                    <div class="detail-item__value">Тут будет ссылка на чат</div>
                    <div class="detail-item__label">Ссылка</div>
                </div>
            </div> --}}

            {{!-- Уведомления --}}
            {{!-- <div class="detail-item">
                <img src="icons/bell.svg" alt="Bell" class="icon"></img>
                <div class="sidebar-list__item-info">
                    <div class="detail-item__value">Уведомления</div>
                </div>
            </div> --}}

            {{!-- Добавить участников --}}
            {{#if isOwner}}
                <div id="add-members-button" class="detail-item">
                    <img src="icons/plus.svg" alt="Bell" class="icon"></img>
                    <div class="sidebar-list__item-info">
                        <div class="detail-item__value">Добавить участников</div>
                    </div>
                </div>
                <div id="username-input-channel">
                <input type="text" placeholder="Username" id="username-input" class="sidebar-list__input">
                </div>
            {{/if}}
        </section>

        <div class="horizontal-list">
            <div class="horizontal-list__item horizontal-list__item_active">Участники</div>
            {{!-- <div class="horizontal-list__item">Медиа</div>
            <div class="horizontal-list__item">Файлы</div>
            <div class="horizontal-list__item">Ссылки</div> --}}
        </div>
        {{#if isOwner}}
        <div id="members" class="sidebat-list">
            {{#each members}}
            <div class="detail-item member">
                <span class="detail-item__username">{{this.username}}</span>
                
                {{#if (eq this.role "owner")}}
                    <span>Владелец</span>
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{/if}}
    </main>
</div>
