html,
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.container__divider {
    width: 1px;
    height: 100%;
    background-color: var(--black_divide);
}
