<div class="sidebar">
    <div class="sidebar-header">
        <div id="button-back" class="button">
            <img src="icons/Back.svg" alt="Back" class="icon">
        </div>

        <div class="sidebar-header__search">
            <img src="icons/Search.svg" alt="Search" id="button-search" class="icon button">
            <input type="text" class="sidebar-header__search-input" placeholder="Кого бы Вы хотели пригласить?">
        </div>

        <div id="button-add" class="button">
            <img src="icons/Ok.svg" alt="Back" class="icon">
        </div>
    </div>

    <div class="horizontal-divider"></div>

    <section class="sidebar-list">
        <span>
            Введите username и нажмите "Enter"
        </span>

        <div class="horizontal-divider"></div>

        {{!-- Здесь будет список пользователей, которые будут добавлены в контакты --}}
    </section>
</div>
