<div class="sidebar">
    <div class="sidebar__header">
        <div id="button-back">
            <img src="icons/Back.svg" alt="Back">
        </div>
        <div class="contacts__search">
            <img src="icons/Search.svg" alt="Search">
            <input type="Поиск контактов" class="search__input" placeholder="Поиск контактов">
        </div>
    </div>

    <div class="sidebar__divider"></div>

    <div class="members-container">
        {{#each contacts}}
            <div class="contacts__contact-item">
                <img src="{{this.photoURL}}" alt="User avatar" class="contacts__contact-item__avatar">
                
                <div class="contacts__contact-item__content">
                    <div class="contacts__contact-item__content-name">
                        <b>{{this.fullname}}</b>
                    </div>
                    <div class="contacts__contact-item__content-online-status">
                        {{this.onlineStatus}}
                    </div>
                </div>

                <input type="checkbox" class="add-member__checkbox" id="{{this.name}}-checkbox">
            </div>
        {{/each}}

        <div id="button-next">
            <img src="icons/next.svg" alt="New chat" class="icon" />
        </div>
    </div>
</div>
