@import "@/shared/styles/styles.scss";
$primary: var(--primary);
$primary-shadow-25: var(--primary-shadow-25);

$text-over-primary: var(--text-over-primary);

$scroll-bar-color: var(--scroll-bar-color);

$chat-padding-top: var(--chat-padding-top);

@mixin font-settings($font-family, $font-weight, $font-size, $color) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
}

.chat-list-container {
  position: relative;
  width: 100%;
  background-color: var(--hover);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-list-container-search {
  background: $primary-shadow-25;
  height: 55px;

  border-radius: 20px;

  margin: 0 10px;
}

.chat-list-container-chatlist {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  gap: 5px;
  padding-left: 5px;
  flex-direction: column;
  flex-wrap: nowrap;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: $scroll-bar-color;
    border-radius: 40px;
  }
  &::-webkit-scrollbar-track {
    background: inherit;
  }
}

.search-chats {
  flex: 1;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: $scroll-bar-color;
    border-radius: 40px;
  }
  &::-webkit-scrollbar-track {
    background: inherit;
  }
}

.add-icon {
  width: 54px;
  height: 54px;

  transition: transform 300ms ease;
  cursor: pointer;
}

.add-icon1 {
  width: 25px;
  height: 25px;

  cursor: pointer;
}

.add-chat {
  position: absolute;
  right: 15px;
  bottom: 15px;

  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: 10px;

  &__popup {
    background: $primary-shadow-25;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0px 15px 0px black;

    flex-direction: column;

    &__item {
      @include font-settings("Inter", 400, 16px, $text-over-primary);
      height: 30px;
      cursor: pointer;
      
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}

#head-chats-container{
  display: flex;
  align-items: center;
  background-color: var(--primary);
  border-bottom: groove;
  height: 70px;
}

.chat-list-container-search-input {
  @include search-container();
  &__img {
    padding-left: 15px;
    width: 30px;
    height: 30px;
  }

  &__input {
    @include search-input();
  }
}

.user-chats {

  &__span{
    @include search-label-span();
  }

  &__hr {
    width: 95%; 
    opacity: 0.6;
  }
}

.global-chats {

  &__span {
    @include search-label-span();
  }

  &__hr {
    width: 95%; 
    opacity: 0.6;
  }
}

.finder-opt{
  width: 33%;
  border-bottom: groove;
  height: 100%;
  text-align: center;
  background-color: var(--primary);
  border-radius: 5px;
  margin: 0.5%;
  cursor: pointer;
  color: var(--text-over-primary);
  font-family: var(--main-font-family);
  vertical-align: middle;
  line-height: 40px;
}

.finder-opt.active{
  background-color: var(--accent);
}

.finder-options{
  display: flex;
  align-items: center;
  visibility: hidden;
  height: 0px;
}

.finder-options-visible{
  visibility: visible;
  height: 40px;
}