:root {
	--white: #fff;
	--black: #000;
	--gray: #a1a1a1;
	--bg: #eee;
	--active: #f6f6f6;
	--error: #ca4f4f;
	--red: red;
	--main: #34ab45;
	--dark-main: #298f38;
	--black_divide: rgba(0, 0, 0, 0.24);
	--online: #3390EC;

    --font-family: "Inter", sans-serif;
    --second-family: "Racing Sans One", sans-serif;
    
    --container-width: 100vh;
    --container-padding-x: 15px;
}


