<div class="sidebar">
    <header class="sidebar__header">
        <div id="button-back">
            <img class="icon" src="icons/Back.svg" alt="Back"></img>
        </div>
        <div>Создать группу</div>
    </header>

    <div class="header__divider"></div>

    <!-- Создание группы -->
    <section id="create-group-content">
        <section class="fields-container">
            <div id="create-group__photo-container">
                <img id="add-avatar-icon" src="icons/addPhoto.svg" alt="Add photo">
            </div>

            <div class="input-container">
                <input class="mandatory-input" type="text" placeholder="Название группы">
            </div>

            <div class="input-container">
                <input class="optional-input" type="text" placeholder="Описание (необязательно)">
                <div class="input-description">
                    <div>Можете указать дополнительное описание группы</div>
                </div>
            </div>
        </section>

        <div id="button-next">
            <img src="icons/next.svg" alt="New chat" class="icon" />
        </div>
    </section>
</div>
