<div class="sidebar">
    <header class="sidebar__header">
        <div class="sidebar__button" id="button-back">
            <img class="icon" src="icons/Back.svg" alt="Back"></img>
        </div>
        <div class="sidebar__header-title">Создать группу</div>
        <div class="sidebar__button" id="button-save">
            <img class="icon" src="icons/Ok.svg" alt="Save"></img>
        </div>
    </header>

    <div class="profile__divider"></div>

    <!-- Изменение профиля -->
</div>
