.main-chat__input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    gap: 10px;
    width: 90%;
}

.main-chat__attachment-button,
.main-chat__send-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.main-chat__input-wrapper {
    display: flex;
    font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
    color: var(--gray);
    flex: 1;
    /* position: relative; */

    border-radius: 12px;
    background-color: var(--white);
    border: 1px solid var(--gray);
}

.main-chat__input-field {
    border-radius: 12px;
    outline: none;
    border: none;
    width: 100%;
    padding: 10px 15px;
    gap: 10px;
    font-size: 16px;
}

.main-chat__emoji-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    padding: 0 10px;

    /* position: absolute;
    top: 15%;
    left: 95%; */
}

.main-chat__emoji-icon {
    width: 24px;
    height: 24px;
}

.main-chat__send-icon {
    width: 35px;
    height: 34px;
}
