<!-- ProfileForm.handlebars -->

<div class="profile-form">
  <div class="profile-form-header">
    <img
      id="back-button"
      class="profile-form-header-img"
      src="/assets/image/back-btn-img.svg"
      alt="Назад"
    />
    <span class="profile-form-header-title">Профиль</span>
  </div>

  <form class="profile-form-body" method="post" enctype="multipart/form-data">
    <!-- Аватар -->
    <label class="profile-form-body__avatar-wrapper" for="ava">
      <img id="avatar" src="{{response.ava}}" alt="Аватар пользователя" />
      <input
        type="file"
        id="ava"
        name="ava"
        accept="image/webp,image/gif,image/jpeg,image/png"
      />
      <span id="avatar-error" class="avatar-error"></span>
    </label>

    <!-- Отображаемое имя -->
    <div class="profile-form-body__group">
      <input
        id="user-name"
        class="profile-form-body__group-input"
        type="text"
        name="username"
        placeholder="Имя"
        value="{{response.data.username}}"
      />
      <label class="profile-form-body__group-label" for="user-name">
        Отображаемое имя
      </label>
      <span id="nickname-error" class="profile-form-body__group-error"></span>
    </div>

    <!-- Дата рождения -->
    <div class="profile-form-body__group">
      <input
        id="date"
        class="profile-form-body__group-input"
        type="date"
        name="date"
        min="1920-01-01"
        max="{{currentDate}}"
      />
      <label class="profile-form-body__group-label" for="date">
        Дата рождения (опционально)
      </label>
      <span id="date-error" class="profile-form-body__group-error"></span>
    </div>

    <!-- Новый пароль -->
    <div class="profile-form-body__group">
      <div class="password-wrapper">
        <input
          id="password"
          class="profile-form-body__group-input"
          type="password"
          name="password"
          style="border-bottom: 0px;"
          placeholder="Новый пароль"
        />
        <img
          id="password-visibility-toggle"
          class="profile-form-body__group-icon"
          src="/assets/image/eye.svg"
          alt="Показать пароль"
        />
      </div>
      <span id="pswd-err" class="profile-form-body__group-error"></span>
    </div>

    <!-- Подтверждение пароля -->
    <div class="profile-form-body__group">
      <div class="password-wrapper">
        <input
          id="password-repeat"
          class="profile-form-body__group-input"
          type="password"
          name="passwordRepeat"
          style="border-bottom: 0px;"
          placeholder="Подтверждение пароля"
        />
        <img
          id="password-repeat-visibility-toggle"
          class="profile-form-body__group-icon"
          src="/assets/image/eye.svg"
          alt="Показать пароль"
        />
      </div>
      <span id="pswd-repeat-err" class="profile-form-body__group-error"></span>
    </div>
  </form>

  <div class="profile-form-footer">
    <img
      id="logout"
      class="exit-btn-img"
      src="/assets/image/Logout.svg"
      alt="Выйти"
    />
    <img
      id="confirm-button"
      class="confirm-btn-img"
      src="/assets/image/confirm.svg"
      alt="Сохранить"
    />
  </div>
</div>
