<div id="auth-body" class="signupForm">
    <div id="main-auth">
        <div class="main-auth__logo">
            ./Keftegr@m
        </div>
        
        {{> signupForm }}

        <div class="register-link">
            <span>Уже есть аккаунт?
                <a class="register-link__link" id="loginLink">{{redirectText}}</a>
            </span>
        </div>
    </div>
</div>