<div class="container">
    {{!-- {{> sidebar }} --}}
    
    <div class="container__divider"></div>

    <main class="main-chat">
        <header class="main-chat__header">
            <img src="img/Keftegram.png"
                alt="Current user avatar" class="main-chat__avatar" />
            <div class="main-chat__user-info">
                <h2 class="main-chat__name">./Keftegr@m</h2>
                <p class="main-chat__status">был(а) в сети недавно</p>
            </div>
            <button class="main-chat__action">
                <img src="icons/Flag.svg"
                    alt="Action 1" class="main-chat__icon" />
            </button>
            <button class="main-chat__action">
                <img src="icons/Options.svg"
                    alt="Action 2" class="main-chat__icon" />
            </button>
        </header>

        <section class="main-chat__chat-container">
            <div class="main-chat__messages">
                <div class="main-chat__empty">
                    <p>Пока нет сообщений... Отправьте Ваше первое сообщение.</p>
                </div>
            </div>

            <div class="main-chat__divider"></div>

            <div class="main-chat__input-container">
                <button class="main-chat__attachment-button">
                    <img src="icons/PaperClip.svg"
                        alt="Add attachment" class="main-chat__" />
                </button>
                <div class="main-chat__input-wrapper">
                    <input type="text" class="main-chat__input-field" placeholder="Написать">
                    <button class="main-chat__emoji-button">
                        <img src="icons/Emoji.svg" alt="Emoji" class="main-chat__emoji-icon" />
                    </button>
                </div>
                <button class="main-chat__send-button">
                    <img src="icons/Send.svg"
                        alt="Send message" class="main-chat__send-icon" />
                </button>
            </div>
        </section>
    </main>
</div>
