<div class="no-chat-container">
    <div class="rate-container">
        <div id="modal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <h2>Оцените наш сайт</h2>
        <p>Пожалуйста, оставьте вашу оценку:</p>
        <div class="smile-container">
            <img src="img/very-hate.png" alt="New chat" id="rate1" class="smile">
            <img src="img/hate.png" alt="New chat" id="rate2" class="smile">
            <img src="img/neutral.png" alt="New chat" id="rate3" class="smile">
            <img src="img/like.png" alt="New chat" id="rate4" class="smile">
            <img src="img/very-like.png" alt="New chat" id="rate5" class="smile">
        </div>
        {{!-- <img src="icons/next.svg" alt="New chat" class="rate1">
        <img src="icons/next.svg" alt="New chat" class="rate2">
        <img src="icons/next.svg" alt="New chat" class="rate3"> --}}

        <form id="rate-form">
            <label for="rating">Напишите комментарий по оценке</label>
            <input type="text" id="rating" name="rating">
            <div>
                <button type="submit">Отправить</button>
            </div>
        </form>
    </div>
</div>
    </div>
    <div class="no-chat-stub">
        ./Keftegr@m
    </div>
    <div>
        Посмотрите нашу <a class="statistics-link">статистику</a>
    </div>
</div>