@import url("../../../../components/PopOver/PopOver.css");

.sidebar__header {
    display: flex;
    padding: 18px 10px;
    align-items: center;
    gap: 10px;
    font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--black);
    font-weight: 400;
}

.sidebar__icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    align-self: stretch;
    margin: auto 0;
    flex-shrink: 0;
}

.sidebar__menu {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.sidebar__search-wrapper {
    display: flex;
    gap: 5px;
    flex: 1;
    border-radius: 12px;
    background-color: var(--bg);
    border: 1px solid var(--gray);
    padding: 10px 15px;
}

.sidebar__search {
    background-color: var(--bg);
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
}

.sidebar__placeholder {
    align-self: stretch;
    margin: auto 0;
}

.sidebar__divider {
    height: 1px;
    width: 100%;
    background-color: var(--black_divide);
}