<div class="sidebar">
    {{!-- Заголовок --}}
    <header class="sidebar-header">
        <div id="close-edit-group" class="button">
            <img src="icons/Back.svg" alt="Back" class="icon"></img>
        </div>
        
        <div class="sidebar-header__title">Изменить данные</div>

        <div id="save-edit-group" class="button">
            <img src="icons/Ok.svg" alt="Back" class="icon"></img>
        </div>
    </header>

    <div class="horizontal-divider"></div>

    <!-- Тело -->
    <main class="sidebar-list scrollable">
        {{!-- Аватар --}}
        <div class="sidebar-list__input-container">
            <div class="avatar-container-upload">
                <img id="avatarImage" class="avatar-upload" src="{{avatarSrc}}" alt="Аватар">
            </div>

            <input type="file" id="fileInput1" accept="image/*">
        </div>

        {{!-- <div class="sidebar-list__input-container">
            <input type="file" id="avatar-input">
        </div> --}}

        {{!-- Название группы --}}
        <div class="sidebar-list__input-container">
            <div class="sidebar-list__input-label">Новое название</div>
            <input type="text" placeholder="Название группы" value="{{title}}"
                    id="title-input" class="sidebar-list__input">
        </div>
    </main>
</div>
