<div id="auth-body" class="loginForm">
    <div id="main-auth">
        <div class="main-auth__logo" id="main-auth__logo">
            ./Keftegr@m
        </div>

        {{!-- {{> loginForm }} --}}

        <div class="register-link">
            <span>Нет аккаунта?
                <a class="register-link__link" id="signupLink">Создать</a>
            </span>
        </div>
    </div>
</div>