<div class="chat-container">
    {{!-- Окно чата --}}
    <section class="chat">
        <div>
            {{!-- Заголовок --}}
            <header class="chat-header">
                {{!-- Аватар --}}
                <img src="img/Keftegram.png" alt="Avatar" class="chat-header__avatar">
                
                {{!-- Информация о чате --}}
                <div class="chat-header__info">
                    <div class="chat-header__full-name">./Keftegr@m</div>
                    <div class="chat-header__online-status">был(а) в сети недавно</div>
                </div>
                
                {{!-- Добавить в избранное --}}
                <button class="button">
                    <img src="icons/Flag.svg" alt="Favourite" class="icon">
                </button>
                
                {{!-- Опции --}}
                <button class="button">
                    <img src="icons/Options.svg" alt="Options" class="icon">
                </button>
            </header>
            
            {{!-- Горизонтальный разделитель --}}
            <div class="horizontal-divider"></div>
        </div>
        
        {{!-- Сообщения --}}
        <section class="sidebar-list scrollable" id="messages">
            <div class="message-container">
                <div class="message_group">
                    <div class="message__avatar-container">
                        <img src="img/Keftegram.png" alt="Avatar" class="avatar">
                    </div>
                    <div class="message_dialog">
                        <div class="message__author">Алексей Лупенков</div>
                        <div class="message__content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam officia deserunt quisquam non iusto consectetur animi saepe repudiandae, distinctio hic cupiditate laboriosam assumenda et dolor aperiam laborum explicabo ipsa. Inventore!
                        </div>
                        <div class="message__meta">
                            <div class="message__time">12:00</div>
                            <img src="icons/double-check.svg" alt="Read" class="message__status">
                        </div>
                    </div>
                </div>
            </div>  

            <div class="message-container">
                <div class="message_my">
                    <div class="message__content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam officia deserunt quisquam non iusto consectetur animi saepe repudiandae, distinctio hic cupiditate laboriosam assumenda et dolor aperiam laborum explicabo ipsa. Inventore!
                    </div>
                    <div class="message__meta">
                        <div class="message__time">12:00</div>
                        <img src="icons/double-check.svg" alt="Read" class="message__status">
                    </div>
                </div>
            </div>

            <div class="message-container">
                <div class="message_group">
                    <div class="message__avatar-container">
                        <img src="img/Keftegram.png" alt="Avatar" class="avatar">
                    </div>
                    <div class="message_dialog">
                        <div class="message__author">Алексей Лупенков</div>
                        <div class="message__content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam officia deserunt quisquam non iusto consectetur animi saepe repudiandae, distinctio hic cupiditate laboriosam assumenda et dolor aperiam laborum explicabo ipsa. Inventore!
                        </div>
                        <div class="message__meta">
                            <div class="message__time">12:00</div>
                            <img src="icons/double-check.svg" alt="Read" class="message__status">
                        </div>
                    </div>
                </div>
            </div>

                        <div class="message-container">
                <div class="message_my">
                    <div class="message__content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam officia deserunt quisquam non iusto consectetur animi saepe repudiandae, distinctio hic cupiditate laboriosam assumenda et dolor aperiam laborum explicabo ipsa. Inventore!
                    </div>
                    <div class="message__meta">
                        <div class="message__time">12:00</div>
                        <img src="icons/double-check.svg" alt="Read" class="message__status">
                    </div>
                </div>
            </div>

            <div class="message-container">
                <div class="message_group">
                    <div class="message__avatar-container">
                        <img src="img/Keftegram.png" alt="Avatar" class="avatar">
                    </div>
                    <div class="message_dialog">
                        <div class="message__author">Алексей Лупенков</div>
                        <div class="message__content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam officia deserunt quisquam non iusto consectetur animi saepe repudiandae, distinctio hic cupiditate laboriosam assumenda et dolor aperiam laborum explicabo ipsa. Inventore!
                        </div>
                        <div class="message__meta">
                            <div class="message__time">12:00</div>
                            <img src="icons/double-check.svg" alt="Read" class="message__status">
                        </div>
                    </div>
                </div>
            </div>

                        <div class="message-container">
                <div class="message_my">
                    <div class="message__content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam officia deserunt quisquam non iusto consectetur animi saepe repudiandae, distinctio hic cupiditate laboriosam assumenda et dolor aperiam laborum explicabo ipsa. Inventore!
                    </div>
                    <div class="message__meta">
                        <div class="message__time">12:00</div>
                        <img src="icons/double-check.svg" alt="Read" class="message__status">
                    </div>
                </div>
            </div>

            <div class="message-container">
                <div class="message_group">
                    <div class="message__avatar-container">
                        <img src="img/Keftegram.png" alt="Avatar" class="avatar">
                    </div>
                    <div class="message_dialog">
                        <div class="message__author">Алексей Лупенков</div>
                        <div class="message__content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam officia deserunt quisquam non iusto consectetur animi saepe repudiandae, distinctio hic cupiditate laboriosam assumenda et dolor aperiam laborum explicabo ipsa. Inventore!
                        </div>
                        <div class="message__meta">
                            <div class="message__time">12:00</div>
                            <img src="icons/double-check.svg" alt="Read" class="message__status">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        {{!-- Ввод сообщения --}}
        <div class="chat-input-container">
            <div class="chat-input-container__input-wrapper">
                {{!-- Вложения --}}
                <button class="button">
                    <img src="icons/PaperClip.svg" alt="Add attachment" class="icon">
                </button>
                
                {{!-- Поле для ввода --}}
                <input type="text" placeholder="Написать" class="chat-input-container__input">
                
                {{!-- Эмодзи --}}
                <button class="button">
                    <img src="icons/Emoji.svg" alt="Emoji" class="icon">
                </button>
            </div>
            
            {{!-- Отправить --}}
            <button class="button" id="send-message-button">
                <img src="icons/Send.svg" alt="Send message" class="icon">
            </button>
            
        </div>
    </section>
    
    {{!-- Вертикальный разделитель --}}
    <div class="vertical-divider"></div>
</div>