<div class="message-container">
    <div class="message_dialog">
        <div class="message__content">{{body}}</div>
        <div class="message__meta">
            <div class="message__time">{{sentAt}}</div>
            <img src="icons/double-check.svg" alt="Read" class="message__status">
            <img src="img/delete_mes.png" alt="Read" class="message__delete">
        </div>
    </div>
</div>