<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css" type="text/css">
  <title>Login</title>
</head>
<body class="auth-body">
  <!-- <div class="auth-body__background">
    Keftegr@m
  </div> -->
  <div class="container">
    <div class="logo">
      ./Keftegr@m
    </div>
    <form method="post" class="auth-form">
        <input class="auth-form__input-box" type="text" id="username" name="username" required placeholder="Имя пользователя/Телефон/Почта">
        <input class="auth-form__input-box" type="password" id="password" name="password" required placeholder="Пароль">
        <button type="submit" class="auth-form__button-primary">Войти</button>
    </form>
    <div class="register-link">
      Нет аккаунта?
      <a class ="register-link--link" href="">Создать</a>
    </div>
  </div>
</body>
</html>