<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css" type="text/css">
  <title>Login</title>
</head>
<body class="auth-body">
  <div class="container">
    <div class="logo">
      ./Keftegr@m
    </div>
    <form method="post" class="auth-form">
      <div class="auth-form__input-wrapper">
        <input class="auth-form__input" type="text" id="username" name="username" placeholder="Имя пользователя/Телефон/Почта">
      </div>
      <div class="auth-form__input-wrapper">
        <input class="auth-form__input" type="password" id="password" name="password" placeholder="Пароль">
      </div>
      <button type="submit" class="auth-form__button">Войти</button>
    </form>
    <div class="register-link">
      <span>Нет аккаунта?
      <a class ="register-link--link" href="">Создать</a>
      </span>
    </div>
  </div>
</body>
</html>