<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <title>Signup</title>
</head>
<body class="auth-body">
    <!-- <div class="auth-body__background">
        Keftegr@m
    </div> -->
    <div class="container">
      <div class="logo">
        ./Keftegr@m
      </div>
      <form method="post" class="auth-form">
          <input class="auth-form__input-box" type="text" id="username" name="username" required placeholder="Имя пользователя">
          <input class="auth-form__input-box" type="tel" id="phone" name="phone" required placeholder="Телефон (123-45-678)">
          <input class="auth-form__input-box" type="password" id="password1" name="password1" required placeholder="Пароль">
          <input class="auth-form__input-box" type="password" id="password2" name="password2" required placeholder="Подтвердите пароль">
          <button type="submit" class="auth-form__button-primary">Войти</button>
      </form>
      <div class="register-link">
        Нет аккаунта?
        <a class ="register-link--link" href="">Создать</a>
      </div>
    </div>
  </body>
</html>