<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <title>Signup</title>
</head>
<body class="auth-body">
    <div class="container">
      <div class="logo">
        ./Keftegr@m
      </div>
      <form method="post" class="auth-form">
        <div class="auth-form__input-wrapper">
          <input class="auth-form__input" type="text" id="username" name="username" placeholder="Имя пользователя">
        </div>
        <div class="auth-form__input-wrapper">
          <input class="auth-form__input" type="tel" id="phone" name="phone" placeholder="Телефон (123-45-678)">
        </div>
        <div class="auth-form__input-wrapper">
          <input class="auth-form__input" type="password" id="password1" name="password1" placeholder="Пароль">
        </div>
        <div class="auth-form__input-wrapper">
          <input class="auth-form__input" type="password" id="password2" name="password2" placeholder="Подтвердите пароль">
        </div>
        <button type="submit" class="auth-form__button">Войти</button>
      </form>
      <div class="register-link">
        Нет аккаунта?
        <a class ="register-link--link" href="">Создать</a>
      </div>
    </div>
  </body>
</html>