#search_msgs{
    width: 200px;
    height: 20px;
    position: relative;
    left: -40px;
}

#search_msgs_res{
    visibility: hidden;
    /* visibility: visible; */
    overflow-y: scroll;
    width: 200px;
    height: 150px;
    position: relative;
    top: -10px;
    /* right: 0px; */
    left: -40px;
    background-color:grey;
    border-radius: 10px;
}