#search_msgs{
    width: 200px;
    height: 20px;
    position: relative;
    left: 5px;
}

#search_msgs_res{
    visibility: hidden;
    /* visibility: visible; */
    overflow-y: scroll;
    width: 100%;
    height: 0px;
    cursor: pointer;
    position: relative;
    top: 0px;
    /* right: 0px; */
    left: 0px;
    background-color:var(--bg);
    border-radius: 5px;
    font-family: var(--font-family);
}