<nav class="popover">
    {{#each items}}
        <button class="popover__item" name="{{name}}">
            <img src="{{svgPath}}" alt="?" class="popover__item__icon"></img>
            <span class="popover__item__text">{{content}}</span>
        </button>
    {{/each}}
</nav>